#img-bg{
    background-image: url('https://i.pinimg.com/564x/98/79/94/987994114eac10456d3a46897c6f6335.jpg');

    min-height: 695px;

    background-repeat: no-repeat;

    background-size: cover;
}