@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

*{
   font-family: 'Quicksand', sans-serif;
}


html{
   scroll-behavior: smooth;
   
}

.fs-54{
   font-size: 54pt;
}

.fs-18{
   font-size: 18pt;
}

.fs-20{
   font-size: 17pt;
}