#img-bg{
    background-image: url('https://i.pinimg.com/564x/e2/7c/38/e27c388603b50bf7d1f6e82abf12cf42.jpg');

    min-height: 695px;

    background-repeat: no-repeat;

    background-size: cover;
}

.principal{
    background-image: url("https://i.pinimg.com/originals/fe/a1/c3/fea1c3a5e68cc6dbeb6fc40aced9cf4d.jpg");
}

.formulario{
    max-width: 800px;
    min-height: auto;
    background-color: rgba(236, 225, 225, 0.528);

    border-radius: 15px;
    box-shadow: 1px 10px 20px rgb(23, 22, 22);
}